<html>
    <head>

    </head>
    <body>
        <h3>Sample linear program</h3>
        <span>
            var x1 >= 0; <br>
            var x2 >= 0; <br>
            <br>
            st:   x1 +   x2 <=  9;<br>
            st: 3x1 +   x2 <= 18;<br>
            st:   x1        <=  7;<br>
            st:          x2 <=  6;<br>
            <br>
            maximize:     3x1 + 2x2;<br>
            <br>
            <br>

        </span>
        <form action="{{ url_for('results') }}", method="POST">
            <textarea name="input">

            </textarea>
            <input type="submit">
        </form>
        
    </body>
</html>